.header {
	background-color: #f4f4f4;
	width: 100%;
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	
}

a {
	margin: 1rem;
}

.holder {
	width: 100%;
	overflow: hidden;
	
}

.logo {
	display: block;
	height: 100%;
	width: auto;
	margin-left: 1rem;

}

.navbar {
	width: 100%;
	
	overflow: hidden;
	text-align: right;
}

.navbar button {
	margin-right: 2rem;
	font-size: 16px;
	background: none;
	border: 0px;
	text-decoration: none;
	
}

.navbar button:hover {
	color: black;
	text-decoration-line: underline;
}

