<html>
	<head>
		<title>digu: direktori lagu</title>
		<link href="https://fonts.googleapis.com/css?family=Assistant|Source+Sans+Pro" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="headerstyle.css">
		<link rel="stylesheet" type="text/css" href="footerstyle.css">
	</head>
	<body>
		<div class="container">
			<div class="header">
				<div class="holder">
					<img src="../assets/logo.png" class="logo">
				</div>
				<div class="navbar">
					<button href="#">Beranda</button>
					<button href="#">List Lagu</button>
					<button href="#">Tentang Kami</button>
				</div>
			</div>
			<iframe src="lirik.html" height="500" width="500"></iframe>
			<div class="footer">this is footer</div>
		</div>
	</body>
</html>
