<html>
	<head>
		<title>digu: direktori lagu</title>
		<link href="https://fonts.googleapis.com/css?family=Assistant|Source+Sans+Pro" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="headerstyle.css">
		<link rel="stylesheet" type="text/css" href="footerstyle.css">
	</head>
	<body>
		<div class="container">
			<div class="header">this is header</div>
			<iframe src="landing.html"></iframe>
			<div class="footer">this is footer</div>
		</div>
	</body>
</html>
