<html>
	<head>
		<title>digu: direktori lagu</title>
		<link href="https://fonts.googleapis.com/css?family=Assistant|Source+Sans+Pro" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="headerstyle.css">
		<link rel="stylesheet" type="text/css" href="footerstyle.css">
	</head>
	<body>
		<div class="container">
			<div class="header">
				<div class="holder">
					<a href="landing.html" target="frame"><img src="../assets/logo.png" class="logo"></a>
				</div>
				<div class="navbar">
					<a href="landing.html" target="frame">Beranda</a>
					<a href="lirik.html" target="frame">Daftar Lagu</a>
					<a href="tentangkami.html" target="frame">Tentang Kami</a>
				</div>
			</div>
			<iframe src="landing.html" height="500" width="500" name="frame"></iframe>
			<div class="footer">
				<div class ="left">Created by:</div> 
				<div>Ivana Irene Thomas</div> 
				<div>Rahmania Astrid Mochtar</div> 
				<div>Bram Sedana</div> 
				<div>Tirta Hema Jaya Hidayat</div> 
				<div>Kemala Andiani</div> 
				<div>Fran Na Jaya</div> 
				<div>Alverio Yosephine Kurtinus</div> 
				<div>Ariel Miki Abraham</div>
			</div>
	</body>
</html>
