.list {
	height: 100%;
	width: 100%;
	margin: 0rem;
	padding: 0rem;
}

.list-contain{
	width: 80%;
	background-color: #fafafa;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.songTitle {

	color: #FB9B2A;

}

h5 {
	font-size: 2rem;
	margin: 2rem;
}

.list-kiri {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	text-align: left;
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	border-bottom: 1px dotted grey;

}

.list-kanan {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
	height: auto;
	text-align: right;
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	border-bottom: 1px dotted grey;
}

.thumbnail {
	width: 20rem;
	height: auto;
}