<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Assistant|Source+Sans+Pro" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="lirikstyle.css">
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div class="content">
			<div class="listContain">
				<div class="list-kiri">
					<a href="songs/ditimurmatahari.html" class="songTitle"><h5>Di Timur Matahari<br />
					ciptaan: W.R. Supratman</h5></a></a>
					<img src="../assets/ditimurmatahari.jpg" class="thumbnail" />
				</div>
				<div class="list-kanan">
					<a href="songs/indonesiapusaka.html" class="songTitle"><h5>Indonesia Pusaka<br />
					ciptaan: Ismail Marzuki</h5></a>
					<img src="../assets/indonesiapusaka.jpg" class="thumbnail" />
				</div>
				<div class="list-kiri">
					<a href="songs/kebyarkebyar.html" class="songTitle"><h5>Kebyar Kebyar<br />
					ciptaan: Gambloh</h5></a>
					<img src="../assets/kebyarkebyar.jpg" class="thumbnail" />
				</div>
				<div class="list-kanan">
					<a href="songs/majutakgentar.html" class="songTitle"><h5>Maju Tak Gentar<br />
					ciptaan: C. Simanjutak</h5></a>
					<img src="../assets/majutakgentar.jpg" class="thumbnail" />
				</div>


				<div class="list-kiri">
					<a href="songs/merahputih.html" class="songTitle"><h5>Merah Putih<br />
					ciptaan: Ibu Sud</h5></a>
					<img src="../assets/merahputih.jpg" class="thumbnail" />
				</div>
				<div class="list-kanan">
					<a href="songs/mengheningkancipta.html" class="songTitle"><h5>Mengheningkan Cipta<br />
					ciptaan: T. Prawit</h5></a>
					<img src="../assets/mengheningkancipta.jpg" class="thumbnail" />
				</div>


				<div class="list-kiri">
					<a href="songs/nyiurhijau.html" class="songTitle"><h5>Nyiur Hijau<br />
					ciptaan: Maladi</h5></a>
					<img src="../assets/nyiurhijau.jpg" class="thumbnail" />
				</div>
				<div class="list-kanan">
					<a href="songs/rayuanpulaukelapa.html" class="songTitle"><h5>Rayuan Pulau Kelapa<br />
					ciptaan: Ismail Marzuki</h5></a>
					<img src="../assets/rayuanpulaukelapa.jpg" class="thumbnail" />
				</div>
				<div class="list-kiri">
					<a href="songs/tanahairku.html" class="songTitle"><h5>Tanah  Airku<br />
					ciptaan: Ibu Sud</h5></a>
					<img src="../assets/tanahairku.jpg" class="thumbnail" />
				</div>
				<div class="list-kanan">
					<a href="songs/bagimunegri.html" class="songTitle"><h5>Bagimu Negri<br />
					ciptaan: Kusbini</h5></a>
					<img src="../assets/bagimunegri.jpg" class="thumbnail" />
				</div>
				<div class="list-kiri">
					<a href="songs/bangunpemudipemuda.html" class="songTitle"><h5>Bangun Pemudi Pemuda<br />
					ciptaan: A. Simajuntak</h5></a>
					<img src="../assets/bangunpemudipemuda.jpg" class="thumbnail" />
				</div>
				<div class="list-kanan">
					<a href="songs/berkibarlahbenderanegriku.html" class="songTitle"><h5>Berkibarlah Bendera Negriku<br />
					ciptaan: Gambloh</h5></a>
					<img src="../assets/berkibarlahbenderanegriku.jpg" class="thumbnail" />
				</div>
				<div class="list-kiri">
					<a href="songs/darisabangsampaimerauke.html" class="songTitle"><h5>Dari Sabang Sampai Merauke<br />
					ciptaan: R. Suharjo</h5></a>
					<img src="../assets/darisabangsampaimerauke.jpg" class="thumbnail" />
				</div>
				<div class="list-kanan">
					<a href="songs/garudapancasila.html" class="songTitle"><h5>Garuda Pancasila<br />
					ciptaan: Pamoe Rahardjo</h5></a>
					<img src="../assets/garudapancasila.jpg" class="thumbnail" />
				</div>
				<div class="list-kiri">
					<a href="songs/halohalobandung.html" class="songTitle"><h5>Halo-halo Bandung<br />
					ciptaan: Ismail Marzuki</h5></a>
					<img src="../assets/halohalobandung.jpg" class="thumbnail" />
				</div>
				<div class="list-kanan">
					<a href="songs/harimerdeka.html" class="songTitle"><h5>Hari Merdeka<br />
					ciptaan: H. Mutahar</h5></a>
					<img src="../assets/harimerdeka.jpg" class="thumbnail" />
				</div>
				<div class="list-kiri">
					<a href="songs/hymneguru.html" class="songTitle"><h5>Hymne Guru<br />
					ciptaan: Sartono</h5></a>
					<img src="../assets/hymneguru.jpg" class="thumbnail" />
				</div>
				<div class="list-kanan">
					<a href="songs/ibukitakartini.html" class="songTitle"><h5>Ibu Kita Kartini<br />
					ciptaan: W.R. Supratman</h5></a>
					<img src="../assets/ibukitakartini.jpg" class="thumbnail" />
				</div>
		</div>
	</body>
</html>