<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Assistant|Source+Sans+Pro" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="lirikstyle.css">
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div class="list">
			<div class="list-contain">
				<div class="list-kiri">
					<h5>Di Timur Matahari</h5>
					<h6>ciptaan: W.R. Supratman</h6>
					<iframe width="180" height="100" src="https://www.youtube.com/embed/quAGgMN5oME" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="list-kanan">
					<h5>Indonesia Pusaka</h5>
					<h6>ciptaan: Ismail Marzuki</h6>
					<iframe width="180" height="100" src="https://www.youtube.com/embed/AE4ibStp-zQ" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
				
			<div class="list-contain">
				<div class="list-kiri">
					<h5>Kebyar Kebyar</h5>
					<h6>ciptaan: Gambloh</h6>
					<iframe width="180" height="100" src="https://www.youtube.com/embed/lUkYLgOhrpo" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="list-kanan">
					<h5>Maju Tak Gentar</h5>
					<h6>ciptaan: C. Simanjutak</h6>
					<iframe width="180" height="100" src="https://www.youtube.com/embed/av92FIOfXlQ" frameborder="0" allowfullscreen></iframe>	
				</div>
			</div>

			<div class="list-contain">
				<div class="list-kiri">
					<h5>Merah Putih</h5>
					<h6>ciptaan: Ibu Sud</h6>
					<iframe width="180" height="100" src="https://www.youtube.com/embed/PEzMRxvoTzQ" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="list-kanan">
					<h5>Mengheningkan Cipta</h5>
					<h6>ciptaan: T. Prawit</h6>
					<iframe width="180" height="100" src="https://www.youtube.com/embed/bSvWufNHtew" frameborder="0" allowfullscreen></iframe>	
				</div>
			</div>

			<div class="list-contain">
				<div class="list-kiri">
					<h5>Nyiur Hijau</h5>
					<h6>ciptaan: Maladi</h6>
					<iframe width="180" height="100" src="https://www.youtube.com/embed/otCTHRUe5PM" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="list-kanan">
					<h5>Rayuan Pulau Kelapa</h5>
					<h6>ciptaan: Ismail Marzuki</h6>
					<iframe width="180" height="100" src="https://www.youtube.com/embed/j2RcRic_pug" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>

			<div class="list-contain">
				<div class="list-kiri">
					<h5>Tanah  Airku</h5>
					<h6>ciptaan: Ibu Sud</h6>
					<iframe width="180" height="100" src="https://www.youtube.com/embed/zGXnPC_GYLw" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="list-kanan">
					<h5>Bagimu Negri</h5>
					<h6>ciptaan: Kusbini</h6>
					<iframe width="180" height="100" src="https://www.youtube.com/embed/u2B7ro4484g" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>

			<div class="list-contain">
				<div class="list-kiri">
					<h5>Bangun Pemudi Pemuda</h5>
					<h6>ciptaan: A. Simajuntak</h6>
					<iframe width="180" height="100" src="https://www.youtube.com/embed/iZmQgOO8Ef0" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="list-kanan">
					<h5>Berkibarlah Bendera Negriku</h5>
					<h6>ciptaan: Gambloh</h6>
					
				</div>
			</div>

			<div class="list-contain">
				<div class="list-kiri">
					<h5>Dari Sabang Sampai Merauke</h5>
					<h6>ciptaan: R. Suharjo</h6>
					
				</div>
				<div class="list-kanan">
					<h5>Garuda Pancasila</h5>
					<h6>ciptaan: Pamoe Rahardjo</h6>
					<iframe width="180" height="100" src="https://www.youtube.com/embed/12UQBxRhMlg" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>

			<div class="list-contain">
				<div class="list-kiri">
					<h5>Halo-halo Bandung</h5>
					<h6>ciptaan: Ismail Marzuki</h6>
					<iframe width="180" height="100" src="https://www.youtube.com/embed/lUkYLgOhrpo" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="list-kanan">
					<h5>Hari Merdeka</h5>
					<h6>ciptaan: H. Mutahar</h6>
					<iframe width="180" height="100" src="https://www.youtube.com/embed/DFvuRAx47x0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>

			<div class="list-contain">
				<div class="list-kiri">
					<h5>Hymne Guru</h5>
					<h6>ciptaan: Sartono</h6>
					<iframe width="180" height="100" src="https://www.youtube.com/embed/ec5dgd-iC5U" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="list-kanan">
					<h5>Ibu Kita Kartini</h5>
					<h6>ciptaan: W.R. Supratman</h6>
					<iframe width="180" height="100" src="https://www.youtube.com/embed/zlQZb6v0Vzg" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>	
		</div>
			

	</body>
</html>