body {
	background-color: #f4f4f4;
	margin:0;
	font-size: 1.5rem;
	font-family: 'Assistant', sans-serif;
	display: flex;

}

iframe {
	margin: 1rem;
	height: 60%;
	width: 80%;
	border-radius: 1rem;
	border: 1px solid #eaeaea;
}
.container {
	width: 100%;
	background-color: #f4f4f4;
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 2rem;
}

.content {
	padding: 2rem;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background: #fafafa;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.landing {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background: #fafafa;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.video {
	width: 30rem;
}

.logoLanding {
	height: 50%;
	width: auto;
}

.buttonList {
	height: 3rem;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	padding: 0.5rem 3rem;
	width: auto;
	background: #FB9B2A;
	border-radius: 0.9rem;
	font-family: 'Source Sans Pro', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}


