@keyframes slideDown {
	100% { left: 50%; transform: translate(-50%); opacity: 1; }
}


body {
	background-color: #f4f4f4;
	margin:0;
	font-size: 1.5rem;
	font-family: 'Assistant', sans-serif;
	display: flex;

}

iframe {
	margin: 1rem;
	height: 60%;
	width: 80%;
	border-radius: 1rem;
	border: 1px solid #eaeaea;
}
.container {
	width: 100%;
	background-color: #f4f4f4;
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 2rem;
}

.content {
	padding: 2rem;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	background: #fafafa;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.landing {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background: #fafafa;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.profileContainer {
	position: absolute;
	left: -100%;
	opacity: 0.3;
	max-width: 100%;
	flex-direction:column;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: slideDown 4s ease-in-out forwards;
}

.contain {
	display: flex;
	justify-content: center;
	align-items: center;
}


.profile {
	height: 9rem;
	width: 9rem;
	margin: 2rem;
	border-radius: 100%;
	filter: grayscale(80%);
	transition: filter 1s;
}

.profile:hover {
	filter: grayscale(0%);
	transition: filter 2s;
}



.video {
	width: 30rem;
}

.logoLanding {
	height: 50%;
	width: auto;
	animation: logoShow;
	animation-duration: 2s;
}

.buttonList {
	height: 3rem;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	padding: 0.5rem 3rem;
	width: auto;
	background: #FB9B2A;
	border-radius: 0.9rem;
	font-family: 'Source Sans Pro', sans-serif;

}

a {
	text-decoration: none;
	color: black;
}


