<html>
	<head>
		<title>digu: direktori lagu</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<link href="https://fonts.googleapis.com/css?family=Assistant|Source+Sans+Pro" rel="stylesheet">
	</head>
	<body>
	<div class="content">
		<div class="profileContainer">
			<div class="contain">
				<img src="../assets/irene.jpg" class="profile" />
				<img src="../assets/aci.jpg" class="profile" />
				<img src="../assets/bram.jpg" class="profile" />
				<img src="../assets/tirta.jpg" class="profile" />
			</div>
			<div class="contain">
				<img src="../assets/kemala.jpg" class="profile" />
				<img src="../assets/fran.jpg" class="profile" />
				<img src="../assets/rio.jpg" class="profile" />
				<img src="../assets/miki.jpg" class="profile" />
			</div>
			<a href="tulisantentang.html" class="link">Baca Tentang Kami</a>
		</div>
	</div>
</body>