<html>
	<head>
		<title>digu: direktori lagu</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<link href="https://fonts.googleapis.com/css?family=Assistant|Source+Sans+Pro" rel="stylesheet">
	</head>
	<body>
	<div class="content">
		<div class="textContainer">
			Negara Kesatuan Republik Indonesia (NKRI) merupakan negara maritim yang memiliki pulau terbanyak di dunia, tak heran jika di negara Indonesia terdapat banyak keberagaman suku, adat, budaya, ras, dan agama. Terbentuknya bangsa Indonesia dimulai setelah berdirinya organisasi nasionalis seperti Budi Utomo. Puncaknya, pada tahun 1928 terjadi sumpah pemuda. setelah bertahun tahun indonesia merdeka rasa persatuan di antara para pemuda masih terasa kurang. Lagu-lagu Nasional banyak mengenalkan kita tentang kehebatan bangsa kita, persatuan bangsa. Lewat lagu lagu tersebut banyak sekali manfaat yang bisa didapat. Tetapi, yang menjadi kendala utama adalah kurangnya minat pemuda Indonesia untuk mengenali atau menyanyikan lagu-lagu tersebut. Salah satu yang menyebabkan kurangnya minat adalah kurang gencarnya sosialisasi tentang lagu-lagu tersebut.<br/><br />
			Kami mahasiswa Universitas Indonesia fakultas Ilmu Komputer angkatan 2016 membuat sebuah karya berupa situ yang kami beri nama digu(direktori lagu). Situs ini kami buat untuk mengenalkan lagu - lagu nasional Negara Indonesia. Terdapat banyak lagu - lagu nasional tetapi antusiasme dari masyarakat terutama anak - anak muda sangatlah kurang. Diperlukan pengenalan lebih lanjut kepada mereka maka dari itu kami membuat situs ini. Situs ini bertujuan untuk mempermudah masyarakat terutama anak - anak muda untuk lebih mudah mencari dan lagu - lagu nasional Negara Indonesia, lebih jauhnya kita ingin mengenalkan kepada dunia betapa banyaknya lagu nasional yang dimiliki Negara Indonesia. Situs kami buat menarik untuk para pemuda dengan desain yang dinamis dan penggunaan warna yang minimalis agar tidak merusakn selera pembaca serta penggunaan maskot harimau yang lucu dan menarik, sehingga memiliki daya tarik yang lebih luas untuk kalangan muda.
		</div>
	</div>
	</body>
	</html>