<html>
	<head>
		<title>digu: direktori lagu</title>
		<link rel="stylesheet" type="text/css" href="../style.css">
		<link href="https://fonts.googleapis.com/css?family=Assistant|Source+Sans+Pro" rel="stylesheet">
	</head>
	<body>
		<div class="content">
			<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/u2B7ro4484g" frameborder="0" allowfullscreen></iframe>
			<b>Bagimu Negri (Kusbini)</b><br />
			Padamu negeri kami berjanji<br />
			Padamu negeri kami berbakti<br />
			Padamu negeri kami mengabdi<br />
			Bagimu negeri jiwa raga kami<br />
		</div>
	</body>

