<html>
	<head>
		<title>digu: direktori lagu</title>
		<link rel="stylesheet" type="text/css" href="../style.css">
		<link href="https://fonts.googleapis.com/css?family=Assistant|Source+Sans+Pro" rel="stylesheet">
	</head>
	<body>
		<div class="content">
			<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/iZmQgOO8Ef0" frameborder="0" allowfullscreen></iframe>
			<b>Bangun Pemudi Pemuda (A Simajuntak)</b><br />
			Bangun pemudi pemuda Indonesia<br />
			Tangan bajumu singsingkan untuk negara<br />
			Masa yang akan datang kewajibanmu lah<br />
			Menjadi tanggunganmu terhadap nusa<br />
			Menjadi tanggunganmu terhadap nusa<br />
			<br />
			Sudi tetap berusaha jujur dan ikhlas<br />
			Tak usah banyak bicara trus kerja keras<br />
			Hati teguh dan lurus pikir tetap jernih<br />
			Bertingkah laku halus hai putra negri<br />
			Bertingkah laku halus hai putra negri<br />
		</div>
	</body>

