<html>
	<head>
		<title>digu: direktori lagu</title>
		<link rel="stylesheet" type="text/css" href="../style.css">
		<link href="https://fonts.googleapis.com/css?family=Assistant|Source+Sans+Pro" rel="stylesheet">
	</head>
	<body>
		<div class="content">
			<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/rBZnCEJmiQA" frameborder="0" allowfullscreen></iframe>
			<b>Berkibarlah Bendera Negriku (Gombloh)</b><br />
			Berkibarlah Bendera Negeriku<br />
			Berkibarlah Engkau di Dadaku<br />
			Tunjukkanlah Kepada Dunia<br />
			Semangatmu Yang Panas Mambara<br />
			<br />
			Daku Ingin Jiwa Raga Ini<br />
			Selaraskan Keanggunan<br />
			Daku Ingin Jemariku Ini<br />
			Menuliskan Karismamu<br />
			<br />
			Berkibarlah Bendera Negeriku<br />
			Berkibar di Luas Nuansamu<br />
			Tunjukkanlah Kepada Dunia<br />
			Ramah Tamah Budi Bahasamu<br />
			<br />
			Daku Ingin Kepal Tangan Ini<br />
			Menunaikan Kewajiban<br />
			Putra Bangsa Yang Mengemban Cita<br />
			Hidup Dalam Kesatuan<br />
			<br />
			Berkibarlah Selalu<br />
			Bendera Negeriku<br />
			Menghias Langit Biru<br />
			Oh Indonesiaku<br />
			Tunjukkan Dirimu Kepada Dunia<br />
			Dan Torehkan Warnamu di dalam Dada<br />
			<br />
			Berkibarlah Bendera Negeriku<br />
			Berkibarlah Engkau di Dadaku<br />
			Tunjukkanlah Kebanggaanku dan Semangatmu<br />
			yang Panas Membara<br />
			<br />
			Berkibarlah Bendera Negeriku<br />
			Berkibarlah Engkau di Dadaku<br />
			Tunjukkanlah Kepada Dunia<br />
			Semangatmu Yang Panas Mambara<br />
			<br />
			Daku Ingin Jiwa Raga Ini<br />
			Selaraskan Keanggunan<br />
			Daku Ingin Jemariku Ini<br />
			Menuliskan Karismamu<br />
			<br />
			Daku Ingin Kepal Tangan Ini<br />
			Menunaikan Kewajiban<br />
			Putra Bangsa Yang Mengemban Cita<br />
			Hidup Dalam Kesatuan<br />
			<br />
			Daku Ingin Jiwa Raga Ini<br />
			Selaraskan Keanggunan<br />
			Daku Ingin Jemariku Ini<br />
			Menuliskan Karismamu<br />
			<br />
			Daku Ingin Kepal Tangan Ini<br />
			Menunaikan Kewajiban<br />
			Putra Bangsa Yang Mengemban Cita<br />
			Hidup Dalam Kesatuan<br />
		</div>
	</body>

