<html>
	<head>
		<title>digu: direktori lagu</title>
		<link rel="stylesheet" type="text/css" href="../style.css">
		<link href="https://fonts.googleapis.com/css?family=Assistant|Source+Sans+Pro" rel="stylesheet">
	</head>
	<body>
		<div class="content">
			<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/FQmpCP2x5L4" frameborder="0" allowfullscreen></iframe>
			<b>Dari Sabang Sampai Merauke (R Suharjo)</b><br />
			Dari sabang sampai merauke<br />
			Menjajah pulau-pulau<br />
			Sambung memnyambung menjadi satu<br />
			Itulah Indonesia<br />
			Indonesia tanah airku<br />
			Aku berjanji padamu<br />
			Menjunjung tanah airku<br />
			Tanah airku Indonesia<br />
		</div>
	</body>

