<html>
	<head>
		<title>digu: direktori lagu</title>
		<link rel="stylesheet" type="text/css" href="../style.css">
		<link href="https://fonts.googleapis.com/css?family=Assistant|Source+Sans+Pro" rel="stylesheet">
	</head>
	<body>
		<div class="content">
			<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/quAGgMN5oME" frameborder="0" allowfullscreen></iframe>
			<b>Di Timur Matahari (W.R. Supratman)</b><br />
			Di timur matahari mulai bercahaya bercahaya<br />
			Bangun dan berdiri kawan semua semua<br />
			Marilah mengatur barisan kita<br />
			Pemuda pemudi Indonesia<br />
		</div>
	</body>

