<html>
	<head>
		<title>digu: direktori lagu</title>
		<link rel="stylesheet" type="text/css" href="../style.css">
		<link href="https://fonts.googleapis.com/css?family=Assistant|Source+Sans+Pro" rel="stylesheet">
	</head>
	<body>
		<div class="content">
			<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/12UQBxRhMlg" frameborder="0" allowfullscreen></iframe>
			<b>Garuda Pancasila (Pamoe Rahardjo)</b><br />
			Garuda pancasila<br />
			Akulah pendukungmu<br />
			Patriot proklamasi<br />
			Sedia berkorban untukmu<br />
			Pancasila dasar negara<br />
			Rakyat adil makmur sentosa<br />
			Pribadi bangsaku<br />
			Ayo maju maju<br />
			Ayo maju maju<br />
			Ayo maju maju<br />
		</div>
	</body>

