<html>
	<head>
		<title>digu: direktori lagu</title>
		<link rel="stylesheet" type="text/css" href="../style.css">
		<link href="https://fonts.googleapis.com/css?family=Assistant|Source+Sans+Pro" rel="stylesheet">
	</head>
	<body>
		<div class="content">
			<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/Tzs6T_YlRfs" frameborder="0" allowfullscreen></iframe>
			<b>Halo-halo bandung (ismail Marzuki)</b><br />
			Halo-halo Bandung<br />
			Ibukota periangan<br />
			Halo-halo Bandung<br />
			Kota kenang-kenangan<br />
			Sudah lama beta<br />
			Tidak berjumpa dengan kau<br />
			Sekarang telah menjadi lautan api<br />
			Mari bung rebut kembali<br />
		</div>
	</body>

