<html>
	<head>
		<title>digu: direktori lagu</title>
		<link rel="stylesheet" type="text/css" href="../style.css">
		<link href="https://fonts.googleapis.com/css?family=Assistant|Source+Sans+Pro" rel="stylesheet">
	</head>
	<body>
		<div class="content">
			<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/DFvuRAx47x0" frameborder="0" allowfullscreen></iframe>
			<b>Hari Merdeka (H Mutahar)</b><br />
			Tujuh belas agustus tahun empat lima<br />
			Itulah hari kemerdekaan kita<br />
			Hari merdeka nusa dan bangsa<br />
			Hari lahirnya bangsa Indonesia<br />
			Merdeka<br /><br />

			Sekali merdeka tetap merdeka<br />
			Selama hayat masih di kandung badan<br />
			Kita tetap setia tetap setia<br />
			Mempertahankan Indonesia<br />
			Kita tetap setia tetap setia<br />
			Membela negara kita<br />
		</div>
	</body>

