<html>
	<head>
		<title>digu: direktori lagu</title>
		<link rel="stylesheet" type="text/css" href="../style.css">
		<link href="https://fonts.googleapis.com/css?family=Assistant|Source+Sans+Pro" rel="stylesheet">
	</head>
	<body>
		<div class="content">
			<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/ec5dgd-iC5U" frameborder="0" allowfullscreen></iframe>
			<b>Hymne Guru (Sartono)</b><br />
			Terpujilah wahai Engkau Ibu Bapak Guru<br />
			Namamu akan selalu hidup, dalam sanubariku<br />
			Semua baktimu akan kuukir, didalam hatiku<br />
			S'bagai prasasti terimakasihku 'ntuk pengabdianmu<br />
			Terpujilah wahai Ibu Bapak guru<br />
			Namamu akan selalu hidup dalam sanubariku<br />
			Semua baktimu akan kuukir didalam hatiku<br />
			S'bagai prasasti terimakasihku 'ntuk pengabdianmu<br />
			Engkau bagai pelita dalam kegelapan<br />
			Engkau laksana embun penyejuk dalam kehausan<br />
			Engkau patriot pahlawan bangsa, tanpa tanda jasa<br />
		</div>
	</body>

