<html>
	<head>
		<title>digu: direktori lagu</title>
		<link rel="stylesheet" type="text/css" href="../style.css">
		<link href="https://fonts.googleapis.com/css?family=Assistant|Source+Sans+Pro" rel="stylesheet">
	</head>
	<body>
		<div class="content">
			<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/zlQZb6v0Vzg" frameborder="0" allowfullscreen></iframe>
			<b>Ibu Kita Kartini (WR Supratman)</b><br />
			Ibu kita Kartini<br />
			Putri sejati<br />
			Putri Indonesia<br />
			Harum namanya<br /><br />

			Ibu kita Kartini<br />
			Pendekar bangsa<br />
			Pendekar kaumnya<br />
			Untuk merdeka<br /><br />

			Wahai ibu kita Kartini<br />
			Putri yang mulia<br />
			Sungguh besar cita-citanya<br />
			Bagi Indonesia<br /><br />

			Ibu kita Kartini<br />
			Putri jauhari<br />
			Putri yang berjasa<br />
			Se Indonesia<br /><br />

			Ibu kita Kartini<br />
			Putri yang suci<br />
			Putri yang merdeka<br />
			Cita-citanya<br /><br />

			Wahai ibu kita Kartini<br />
			Putri yang mulia<br />
			Sungguh besar cita-citanya<br />
			Bagi Indonesia<br /><br />

			Ibu kita Kartini<br />
			Pendekar bangsa<br />
			Pendeka kaum ibu<br />
			Se-Indonesia<br /><br />

			Ibu kita Kartini<br />
			Penyuluh budi<br />
			Penyuluh bangsanya<br />
			Karena cintanya<br /><br />

			Wahai ibu kita Kartini<br />
			Putri yang mulia<br />
			Sungguh besar cita-citanya<br />
			Bagi Indonesia<br />
		</div>
	</body>

