<html>
	<head>
		<title>digu: direktori lagu</title>
		<link rel="stylesheet" type="text/css" href="../style.css">
		<link href="https://fonts.googleapis.com/css?family=Assistant|Source+Sans+Pro" rel="stylesheet">
	</head>
	<body>
		<div class="content">
			<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/AE4ibStp-zQ" frameborder="0" allowfullscreen></iframe>
			<b>Indonesia Pusaka (Ismail Marzuki)</b><br />
			Indonesia tanah air beta<br />
			Pusaka abadi nan jaya<br />
			Indonesia sejak dulu kala<br />
			Tetap di puja-puja bangsa<br /><br />

			Di sana tempat lahir beta<br />
			Dibuai dibesarkan bunda<br />
			Tempat berlindung di hari tua<br />
			Tempat akhir menutup mata<br /><br />

			Sungguh indah tanah air beta<br />
			Tiada bandingnya di dunia<br />
			Karya indah Tuhan Maha Kuasa<br />
			Bagi bangsa yang memujanya<br /><br />

			Indonesia ibu pertiwi<br />
			Kau kupuja kau kukasihi<br />
			Tenagaku bahkan pun jiwaku<br />
			Kepadamu rela kuberi<br />
		</div>
	</body>

