<html>
	<head>
		<title>digu: direktori lagu</title>
		<link rel="stylesheet" type="text/css" href="../style.css">
		<link href="https://fonts.googleapis.com/css?family=Assistant|Source+Sans+Pro" rel="stylesheet">
	</head>
	<body>
		<div class="content">
			<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/lUkYLgOhrpo" frameborder="0" allowfullscreen></iframe>
			<b>Kebyar Kebyar (Gambloh)</b><br />
			Indonesia ...<br />
			Merah Darahku, Putih Tulangku<br />
			Bersatu Dalam Semangatmu<br /><br />

			Indonesia ...<br />
			Debar Jantungku, Getar Nadiku<br />
			Berbaur Dalam Angan-anganmu<br /><br />

			Kebyar-kebyar, Pelangi Jingga<br /><br />

			Biarpun Bumi Bergoncang<br />
			Kau Tetap Indonesiaku<br />
			Andaikan Matahari Terbit Dari Barat<br />
			Kaupun Tetap Indonesiaku<br /><br />

			Tak Sebilah Pedang Yang Tajam<br />
			Dapat Palingkan Daku Darimu<br />
			Kusingsingkan Lengan<br />
			Rawe-rawe Rantas<br />
			Malang-malang Tuntas<br /><br />

			Denganmu ...<br /><br />

			Indonesia ...<br />
			Merah Darahku, Putih Tulangku<br />
			Bersatu Dalam Semangatmu<br /><br />

			Indonesia ...<br />
			Debar Jantungku, Getar Nadiku<br />
			Berbaur Dalam Angan-anganmu<br /><br />
	
			Kebyar-kebyar, Pelangi Jingga<br /><br />

			Indonesia ...<br />
			Merah Darahku, Putih Tulangku<br />
			Bersatu Dalam Semangatmu<br /><br />

			Indonesia ...<br />
			Nada Laguku, Symphoni Perteguh<br />
			Selaras Dengan Symphonimu<br /><br />

			Kebyar-kebyar, Pelangi Jingga<br />
		</div>
	</body>

