<html>
	<head>
		<title>digu: direktori lagu</title>
		<link rel="stylesheet" type="text/css" href="../style.css">
		<link href="https://fonts.googleapis.com/css?family=Assistant|Source+Sans+Pro" rel="stylesheet">
	</head>
	<body>
		<div class="content">
			<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/av92FIOfXlQ" frameborder="0" allowfullscreen></iframe>
			<b>Maju Tak Gentar (C. Simanjutak)</b><br />
			Maju tak gentar<br />
			Membela yang benar<br />
			Maju tak gentar<br />
			Hak kita diserang<br /><br />

			Maju serentak<br />
			Mengusir penyerang<br />
			Maju serentak<br />
			Tentu kita kita menang<br /><br />

			Bergerak bergerak<br />
			Serentak Serentak<br />
			Menerkam Menerjang Terkam<br /><br />

			Tak gentar tak gentar<br />
			Menyerang menyerang<br />
			Majulah majulah menang<br />
		</div>
	</body>

