<html>
	<head>
		<title>digu: direktori lagu</title>
		<link rel="stylesheet" type="text/css" href="../style.css">
		<link href="https://fonts.googleapis.com/css?family=Assistant|Source+Sans+Pro" rel="stylesheet">
	</head>
	<body>
		<div class="content">
			<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/bSvWufNHtew" frameborder="0" allowfullscreen></iframe>
			<b>Mengheningkan Cipta (T. Prawit)</b><br />
			Dengan seluruh angkasa raya memuji<br />
			Pahlawan negara<br />
			Nan gugur remaja diribaan bendera<br />
			Bela nusa bangsa<br /><br />

			Kau kukenang wahai bunga putra bangsa<br />
			Harga jasa<br />
			Kau Cahya pelita<br />
			Bagi Indonesia merdeka<br />
		</div>
	</body>

