<html>
	<head>
		<title>digu: direktori lagu</title>
		<link rel="stylesheet" type="text/css" href="../style.css">
		<link href="https://fonts.googleapis.com/css?family=Assistant|Source+Sans+Pro" rel="stylesheet">
	</head>
	<body>
		<div class="content">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/PEzMRxvoTzQ" frameborder="0" allowfullscreen></iframe>
			<b>Merah Putih (Ibu Sud)</b><br />
			Berdera merah putih<br />
			Bendera tanah airku<br />
			Gagah dan jernih tampak warnamu<br />
			Berkibarlah di langit yang biru<br />
			Bendera merah putih<br />
			Bendera bangsaku<br /><br />

			Berdera merah putih<br />
			Pelambang brani dan suci<br />
			Siap selalu kami berbakti<br />
			Untuk bangsa dan ibu pertiwi<br />
			Berdera merah putih<br />
			Trimalah salamku<br />
		</div>
	</body>

