<html>
	<head>
		<title>digu: direktori lagu</title>
		<link rel="stylesheet" type="text/css" href="../style.css">
		<link href="https://fonts.googleapis.com/css?family=Assistant|Source+Sans+Pro" rel="stylesheet">
	</head>
	<body>
		<div class="content">
			<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/otCTHRUe5PM" frameborder="0" allowfullscreen></iframe>
			<b>Nyiur Hijau (Maladi)</b><br />
			Nyiur hijau<br />
			Di tepi pantai<br />
			Siar siur<br />
			Daunnya melambai<br /><br />

			Padi mengembang<br />
			Kuning merayu<br />
			Burung burung<br />
			Bernyanyi gembira<br /><br />

			Tanah airku<br />
			Tumpah darahku<br />
			Tanah yang subur<br />
			Kaya makmur<br /><br />

			Tanah airku<br />
			Tumpah darahku<br />
			Tanah yang kaya<br />
			Permai nyata<br />
		</div>
	</body>

