<html>
	<head>
		<title>digu: direktori lagu</title>
		<link rel="stylesheet" type="text/css" href="../style.css">
		<link href="https://fonts.googleapis.com/css?family=Assistant|Source+Sans+Pro" rel="stylesheet">
	</head>
	<body>
		<div class="content">
			<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/j2RcRic_pug" frameborder="0" allowfullscreen></iframe>
			<b>Rayuan Pulau Kelapa (Ismail Marzuki)</b><br />
			Tanah airku Indonesia<br />
			Negeri elok amat kucinta<br />
			Tanah tumpah darahku yang mulia<br />
			Yang kupuja sepanjang masa<br /><br />

			Tanah airku aman dan makmur<br />
			Pulau kelapa yang amat subur<br />
			Pulau melati pujaan bangsa<br />
			Sejak dulu kala<br /><br />

			Melambai lambai<br />
			Nyiur di pantai<br />
			Berbisik bisik<br />
			Raja Kelana<br /><br />

			Memuja pulau<br />
			Nan indah permai<br />
			Tanah Airku<br />
			Indonesia<br />
		</div>
	</body>

