<html>
	<head>
		<title>digu: direktori lagu</title>
		<link rel="stylesheet" type="text/css" href="../style.css">
		<link href="https://fonts.googleapis.com/css?family=Assistant|Source+Sans+Pro" rel="stylesheet">
	</head>
	<body>
		<div class="content">
			<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/zGXnPC_GYLw" frameborder="0" allowfullscreen></iframe>
			<b>Tanah  Airku (Ibu Sud)</b><br />
			Tanah airku tidak kulupakan<br />
			Kan terkenang selama hidupku<br />
			Biarpun saya pergi jauh<br />
			Tidak kan hilang dari kalbu<br />
			Tanah ku yang kucintai<br />
			Engkau kuhargai<br /><br />

			Walaupun banyak negri kujalani<br />
			Yang masyhur permai dikata orang<br />
			Tetapi kampung dan rumahku<br />
			Di sanalah kurasa senang<br />
			Tanahku tak kulupakan<br />
			Engkau kubanggakan<br />
		</div>
	</body>

